/* RewardTop.css */
.container {
    width: 100%;
    height: 100vh; /* पूरी स्क्रीन के लिए */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    width: 100%; /* इमेज की चौड़ाई फुल */
    height: auto; /* प्रपोर्शनल हाइट */
  }
  
  @media (max-width: 480px) {
    .container {
        margin-top: -4rem;
      height: 40vh; /* बहुत छोटे स्क्रीन पर और कम ऊंचाई */
    }
  
    .image {
      width: 100%; /* इमेज पूरी चौड़ाई में */
      height: auto;
    }
  }